@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: var(--font-oxygen-mono), monospace;
}

body {
    background-color: #131313;
    color: white;
    margin: 0;
    min-width: 100vh;
}

:root {
  font-family: var(--font-oxygen-mono), monospace;
}

.control-panel, .button {

    border: 5px solid white; 
}

.tag {
    font-size: 12px;
    border: 1px solid grey;
    color: grey;
    text-transform: uppercase;
    padding: 2px 8px;
    border-radius: 2px;
}

.button-primary, .button-secondary {
    font-family: var(--font-oxygen-mono), monospace;
    text-transform: uppercase;
    cursor: pointer;
    text-transform: uppercase;
    color: rgb(204, 204, 204);
    border: 1px solid rgb(47, 47, 47);
    background: #262626;;
}

.button-primary {
    padding: 2px 8px;
    font-size: 16px;
    border-radius: 2px;
}

.button-primary:hover {
    background: #2c2c2c;;
}

.button-secondary {
    font-family: var(--font-oxygen-mono), monospace;
    text-transform: uppercase;
    cursor: pointer;
}

.switch {
    padding: 8px 16px;
    font-size: 16px;
}